:root{
    --light: #FFD0D6;
    --pink: #FE78B3;
    --pink-bg: #FFA3B0;
    --pink-bright: #CF1647;
    --orange: #FDEAE1;
    --blue: #3A364C;
    --gray: #585858;
    --primary: #FF6107;
    --yellow: #FFBC53;
}